@import "./edit-general";

.card-selector {
	@include generalEdit;

	@include generalEdit-header;

	@include generalEdit-form;

	.selector-list {
		display: block;
		width: 100%;
		height: 280px;

		overflow-x: hidden;
		overflow-y: auto;

		margin: 0;
		padding: 0;
		border: #333 solid 1px;

		ul,
		li {
			padding: 0;
			margin: 0;
		}

		.selector-folder {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 2px 5px;

			cursor: pointer;
			font-size: 14px;
			font-weight: bold;

			.field-name {
				display: block;
			}

			&:hover {
				background-color: #444;
			}
		}

		.selector-item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding: 2px 5px;

			cursor: pointer;
			font-size: 14px;

			.field-name {
				display: block;
			}
			.field-time {
				display: block;
				text-align: right;
			}

			&.selected {
				background: #333;
			}

			&:hover {
				background-color: #444;
			}
		}
	}
}
