@import "../layout/markdown.scss";

#lang-warning {
	display: flex;
	justify-content: center;

	margin: 10px;
	padding: 10px;
	background-color: rgba(255, 0, 0, 0.25);
	color: #f33;

	svg {
		margin-right: 10px;
	}

	div {
		text-align: center;

		p {
			padding: 0;
			margin: 0;
			margin-bottom: 10px;
		}

		span {
			margin: 0 10px;
			padding: 5px;
			cursor: pointer;

			&.current {
				border-bottom: #f33 solid 2px;
			}

			&:hover {
				background: rgba(255, 255, 255, 0.25);
			}
		}
	}
}
