//

header {
	display: block;
	position: sticky;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 10;

	background-color: $header-background-color;
	// box-shadow: -15px 15px 15px black, 0px 15px 15px black, 15px 15px 15px black;

	#main-menu {
		display: block;
		height: 36px;
	}

	ul.menu-pane {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 15px;
			margin: 0;
			font-size: 1.5em;

			&.toggler {
				display: none;
			}

			a,
			a:hover {
				background: none;
			}

			&.link:hover {
				cursor: pointer;
				background-color: rgba(255, 255, 255, 0.5);
			}

			&.lang-selector {
				justify-self: center;
				margin-left: auto;

				ul {
					display: flex;
					padding: 0;
					margin: 0;

					li {
						padding: 5px 5px;
						border-radius: 50%;

						img {
							max-height: 24px;
							border-radius: 50%;
						}

						&:hover {
							cursor: pointer;
							background-color: rgba(255, 255, 255, 0.5);
						}
					}
				}
			}
		}
	}
}
