$panel-background: rgba(0, 0, 0, 0.85);

* {
	box-sizing: border-box;
	// padding: 0;
	// margin: 0;
}

body {
	background-color: Black;
	font-size: 20px;
	font-family: "VT323", monospace;
	margin: 0px;
	padding: 0px;
	color: #fff;
	background-image: url(../../assets/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-shadow: 5px 5px 3px black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 50;
}

a {
	text-decoration: none;
	color: #ffffff;
	transition: 0.25s;
	white-space: nowrap;
	padding: 3px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

//

.thumb-vertical {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: pointer;
	border-radius: inherit;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 15;
}

.thumb-horizontal {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: pointer;
	border-radius: inherit;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 15;
}

//

#header {
	display: block;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	background-color: $panel-background;
	z-index: 10;
	box-shadow: 0px 15px 15px black;

	#main-menu {
		display: block;
		background-color: #000;
		// border-bottom: #ffffff solid 2px;
	}

	ul.menu-pane {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			justify-self: center;
			align-self: center;
			padding: 0 15px;
			margin: 0;
			font-size: 1.5em;

			.toggler {
				display: none;
			}

			.link {
				display: block;
				text-align: center;
				background: none;

				&:hover {
					background: none;
				}
			}
			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}

#main-wrapper {
	margin-top: 50px;
	// margin-bottom: 120px;
	// margin-top: 50vh;
	margin-bottom: 50vh;
}

#main-content {
	display: block;
	padding-left: 100px;
	padding-right: 300px;

	> h1 {
		color: orange !important;
		font-size: 2em;
	}

	> h2 {
		color: white;
		font-size: 1.5em;
	}
}

#footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;

	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	background-color: $panel-background;
	z-index: 9;
	box-shadow: 0px -15px 15px black;

	.footer-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10px;

		div {
			margin: 10px;
		}

		.link {
			font-size: 1.3em;
		}

		h1,
		h4 {
			font-size: 1.5em;
			margin: 0px;
		}
	}
}

.screen {
	width: 40%;
	padding: 10px;
	background: #222;
	border-radius: 10px;
	margin: 10px;
}

.screen.full {
	width: 90% !important;
}

.content-loader {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.25);
}

#lang-warning {
	display: flex;

	padding: 10px;
	background-color: rgba(0, 0, 0, 0.75);
	color: #f33;

	svg {
		margin-right: 10px;
	}

	div {
		text-align: center;

		p {
			padding: 0;
			margin: 0;
			margin-bottom: 10px;
		}

		span {
			margin: 0 10px;
			padding: 5px;
			cursor: pointer;

			&.current {
				border-bottom: #f33 solid 2px;
			}

			&:hover {
				background: rgba(255, 255, 255, 0.25);
			}
		}
	}
}
@import "media-mobile";
