h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 50;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin-bottom: 0.05em;
}
a {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	transition: 0.25s;

	&:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* custom scrollbar styling (react-custom-scrollbars component) */

.scrollbars-thumb {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: pointer;
	border-radius: inherit;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 15;
}

//

.tip {
	margin-left: 5px;
	cursor: help;
}

$rt-color-default: #fff;
$rt-color-dark: #121212;
$rt-color-info: #0a6099;
$rt-color-success: #055f08;
$rt-color-warning: #080808;
$rt-color-error: #c22b1a;
$rt-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

@import "../../../node_modules/react-toastify/scss/main.scss";

.#{$rt-namespace}__toast {
	font-size: 16px;
	box-shadow: 0 0 10px #000;
}
