@media screen and (max-width: 900px) {
	header {
		#main-menu {
			overflow: hidden;
			height: unset;

			&.collapsed {
				height: 35px;
				transition: 0.25s;
			}

			ul.menu-pane {
				flex-direction: column;

				li {
					&.toggler {
						display: flex;
						cursor: pointer;
						background: none;
					}
					&.link {
						margin: 5px 0;
					}
				}
			}
		}
	}

	#content-wrapper {
		// margin-top: 0px;
		display: block;

		#main-content {
			padding: 0 10px;
		}
	}
}
