@media screen and (max-width: 900px) {
	#header {
		#main-menu {
			overflow: hidden;

			&.collapsed {
				height: 40px;
				transition: 0.25s;
			}

			ul.menu-pane {
				flex-direction: column;

				li {
					.toggler {
						display: block;
						cursor: pointer;
						background: none;
					}
					.link {
						margin: 5px 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	// #header {
	// 	display: block;
	// 	position: relative;
	// }

	#main-wrapper {
		// margin-top: 0px;
		margin-bottom: 50px;
		display: block;

		#main-content {
			padding: 0 10px;
		}
	}

	#footer {
		position: relative;
		height: unset;
		text-align: center;

		padding: 0;
	}
}
