@mixin general-button {
	button {
		font: inherit;
		display: flex;
		flex-direction: row;
		align-items: center;

		span {
			margin-left: 5px;
			margin-right: 0;
		}

		&.button-align-right {
			justify-content: flex-end;

			span {
				margin-left: 0;
				margin-right: 5px;
			}
		}

		background-color: $button-bg-color;
		border: $button-border;
		padding: 5px;
		// font-size: 20px;
		color: #fff;
		// outline: 0px solid #0000;
		transition: 0.25s;

		cursor: pointer;

		&.no-bg {
			background: transparent;
		}

		&.no-border {
			border: none;
		}

		&.flat {
			background: transparent;
			border: none;
		}

		&.no-padding {
			padding: 0;
		}

		&.round {
			border-radius: 50%;
		}

		&.active {
			border-bottom: #fff solid 3px;
		}

		&:focus,
		&:hover {
			outline: none;
			background-color: $button-bg-hover-color;
		}

		&.no-focus {
			&:focus {
				background: none;
			}
		}
		&:disabled {
			opacity: 0.25;
			border: #0000 3px solid;
			cursor: default;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
