$hover: #fff4;

$window-background: linear-gradient(
	130deg,
	rgba(37, 0, 68, 1) 0%,
	rgba(81, 0, 149, 1) 100%
);
$window-control-button-bg: #fff1;
$window-control-button-hover: $hover;

$form-control-bg-color-normal: #0004;
$form-control-border-color-normal: #fff2;
$form-control-border-color-focused: #fff8;

$button-bg-color: #fff0;
$button-bg-hover-color: $hover;
$button-border: #0000 solid 3px;

$sidebar-menu-toggler: rgb(92, 63, 0);
$sidebar-menu-toggler-hover: rgb(141, 96, 0);
$sidebar-menu-color: rgba(37, 0, 68, 0.867);
$sidebar-menu-option-color: rgba(37, 0, 68, 0.867);
$sidebar-user-color: rgba(92, 63, 0, 0.867);

$select-list-hover-item: $hover;
$select-list-choiced-item: #fff2;

$tree-line-color: #444;
$tree-hover-item: $hover;
$tree-choiced-item: linear-gradient(
	90deg,
	rgba(255, 255, 255, 0.2),
	rgba(255, 255, 255, 0.05)
);
