@import "./var";
@import "window-animation";
@import "edit-helpers";

@mixin window-general {
	display: flex;
	flex-direction: column;

	width: $panel-width;

	backdrop-filter: brightness(25%) grayscale(100%);
	@media (prefers-reduced-transparency: reduce) {
		backdrop-filter: unset;
	}

	background: $window-background;
	border-left: #000 solid 3px;

	text-shadow: none;

	// windows size switches
	&.max-height {
		height: 100vh;

		form {
			height: 100%;
		}

		@media screen and (max-width: 768px) {
			height: calc(100vh - 50px);
		}
	}

	&:not(.full-screen) {
		animation: open_panel_window 0.25s;
		@media (prefers-reduced-motion: reduce) {
			animation: unset;
		}

		&.minimized {
			animation: minimize-window 0.25s forwards;
			@media (prefers-reduced-motion: reduce) {
				animation: unset;
				display: none;
			}
		}
	}

	&.full-screen {
		position: fixed;
		top: 0px;
		right: 300px;

		width: calc(100% - 300px);
		height: 100vh;
		border-left: none;

		form {
			height: 100%;
		}
		animation: open_fullscreen_window 0.25s;
		@media (prefers-reduced-motion: reduce) {
			animation: unset;
		}

		&.minimized {
			animation: minimize-window 0.25s forwards;
			@media (prefers-reduced-motion: reduce) {
				animation: unset;
				display: none;
			}
		}
	}

	@media screen and (max-width: 768px) {
		top: 0px;
		width: $panel-width;
		z-index: 150;
		&.full-screen {
			width: 100vw;
			height: calc(100vh - 50px);
			right: 0;
		}
		&.minimized {
			width: $panel-width;
			height: 40px;
		}
	}

	@include editHelpers;

	.thumb-vertical {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		cursor: pointer;
		border-radius: inherit;
		background-color: rgba(255, 255, 255, 0.2);
	}

	.thumb-horizontal {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		cursor: pointer;
		border-radius: inherit;
		background-color: rgba(255, 255, 255, 0.2);
	}
}
