.authorize-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 270px;
	background-color: #400;
	padding: 20px;
	font-size: 24px;

	h1,
	h2 {
		margin-bottom: 25px;
	}

	div {
		margin-bottom: 10px;
	}

	label {
		padding: 5px;
	}

	input {
		font-family: inherit;
		font-size: inherit;
		padding: 5px;
		background: transparent;
		border: none;
		border-bottom: #fff solid 1px;
		outline: none;
		color: #fff;
	}

	button {
		display: flex;
		align-items: center;
		margin-top: 15px;
		padding: 10px;
		background: #fff2;
		border: #000 solid 3px;
		color: #fff;
		transition: 0.25s;

		svg {
			margin-right: 10px;
		}

		&:hover {
			background: #fff8;
			color: #000;
		}
	}
}
