.authorize-form {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 3px;
	// height: 270px;
	border: #fff4 solid 3px;
	background-color: #400;

	div.header,
	div.content,
	div.footer {
		// width: 100%;
		padding: 10px;
		text-align: center;
		> div {
			margin: 5px;
		}
	}

	label {
		display: inline-block;
		padding: 15px;
		width: 100px;
		text-align: right;
	}

	input {
		font-family: inherit;
		font-size: inherit;
		padding: 5px;
		background: transparent;
		border: none;
		border-bottom: #fff solid 1px;
		outline: none;
		color: #fff;
	}

	button {
		display: flex;
		align-items: center;
		padding: 10px;
		background: #fff2;
		// border: #000 solid 3px;
		border: none;
		color: #fff;
		transition: 0.25s;

		svg {
			margin-right: 10px;
		}

		&:hover {
			background: #fff8;
			color: #000;
		}
	}
}
