@import "./var";

.sidebar-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0px;
	width: $sidebar-width;
	height: 0;
	background-color: $sidebar-menu-color;
	border-left: #000 solid 3px;
	// box-shadow: -5px 0px 10px #000;

	overflow: hidden;
	transition: 0.25s;

	&.isExpanded {
		height: 100vh;
	}
}
