@import "./var";

.sidebar-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0px;
	width: $sidebar-width;
	height: 0;
	background: $sidebar-menu-color;
	border-left: #000 solid 3px;
	// box-shadow: -5px 0px 10px #000;

	backdrop-filter: brightness(25%) grayscale(100%);
	// backdrop-filter: blur(5px);
	@media (prefers-reduced-transparency: reduce) {
		backdrop-filter: unset;
	}

	transition: 0.25s;

	@media (prefers-reduced-motion) {
		transition: unset;
	}

	overflow: hidden;
	z-index: 1;
	&.isExpanded {
		height: 100vh;
	}

	&:not(.isExpanded) {
		width: 0px;

		> div {
			min-height: 0px;
			height: 0px;
			padding: 0;
		}
		> div.windows-wrapper {
			.window-header {
				min-height: 0;
				height: 0;
				padding: 0;
				margin: 0;
			}
			// display: none;
		}
	}
}
