@import "./var";

.tree-container {
	user-select: none;

	display: block;
	overflow: hidden;

	width: 100%;
	height: 0px;
	margin-bottom: 0px;

	&.expanded {
		height: 100%;
		margin-bottom: 10px;
	}

	.node-collection {
		display: block;

		margin-left: 1em;
		padding-left: 7px;
		line-height: 20px;
		border-left: 1px solid $tree-line-color;

		.node-item {
			padding: 0;

			display: flex;
			flex-direction: row;
			align-items: center;

			color: #fff;

			&.selected {
				background: $tree-choiced-item;
				border-left: #ffff solid 2px;
			}

			svg {
				margin-right: 5px;
			}

			span {
				white-space: nowrap;
				padding: 3px 0;
			}

			&:hover {
				background-color: $tree-hover-item;
			}
		}

		> div.node-item:before {
			position: relative;
			top: -0.6em;
			height: 1em;
			width: 4px;
			color: white;
			border-bottom: 1px solid $tree-line-color;
			content: "";
			display: inline-block;
			left: -8px;
		}

		&:last-child {
			border-left: 1px solid rgba(0, 0, 0, 0);

			> .node-item:before {
				border-left: 1px solid $tree-line-color;
			}
		}
	}
}
